@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #191d2a;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: red;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.logo {
  font-family: DB Sans MS;
}

.navbar {
  display: flex;
}

.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.rightNav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightNav button {
  padding: 9px 30px;
  border-radius: 10px;
  margin-left: 150px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.rightNav button:hover {
  background-color: black;
  color: white;
}

.footer {
  background-color: white;
  display: flex;
  font-size: 12px;
  height: 25%;
  padding-top: 10px;
}

.leftFooter {
  width: 35%;
  padding-left: 2rem;
}

.rightFooter {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.links ul {
  padding: 0;
}

.links ul li {
  margin-bottom: 5px;
}

.downloadButton {
  background-color: #afc2bb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  width: 120px;
  height: 60px;
}

.storeDesc {
  font-weight: bold;
}

.homeContainer {
  display: flex;
}

.leftHome {
  padding-left: 50px;
  width: 60%;
}

.leftHome ul {
  margin: 0;
  padding: 0;
}

.leftHome ul li {
  margin-right: 50px;
  text-align: center;
}

.rightHome {
  width: 40%;
  background-color: #aec2ba;
  display: flex;
  align-items: flex-end;
  background-image: url('../components/layout/homeBackground.png');
}

.topFeature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.leftTop {
  text-align: center;
}

.bottomFeature {
  align-items: center;
  padding: 0 3rem 7rem;
}

.midBotFeature {
  position: relative;
}

.featurePhone {
  position: absolute;
  top: 0;
  left: 10%;
  width: 604px;
  height: 604px;
  z-index: 1;
}

.featurePhoneCircle {
  z-index: -1;
}

.leftHow {
  position: relative;
  padding-bottom: 5rem;
}

.howPhone {
  position: absolute;
  z-index: 2;
  width: 40%;
  left: 20%;
}

.howCircle {
  width: 80%;
}

.topHow {
  text-align: center;
}

.aboutContainer {
  background-color: #ecf1ef;
}

.topAbout {
  text-align: center;
  padding: 2rem 0;
}

.bottomAbout {
  padding-bottom: 2rem;
}

.rightBottomAbout {
  display: flex;
  justify-content: center;
}

.aboutPhone {
  width: 40%;
}

.circle {
  display: inline-block;
  background-color: lightgreen;
  text-align: center;
  margin: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 50px;
}

.circle h2,
.circle p {
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------  */

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.mr-25 {
  margin-right: 25px;
}

.pageHeading {
  font-size: 90px;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.orangeText {
  color: orange;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}

.pl-50 {
  padding-left: 50px;
}

.p-50 {
  padding: 50px;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.lightText {
  opacity: 0.7;
}
